	html{
		height: 100%;
	}
	body {
		margin: 0;
		height: 100%;
	}
	.navContent{
		margin: 0 10px;
		padding: 0;
		margin-left: auto;
	}
	.wrap{
		min-height: 70%;
		padding-bottom: 15px;
	}
	#top{
	    background-color: #835C3B;
	    margin: 0;
	}
	#mytopnav, #mytoptitle{
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}
	#mytoptitle{
		width: 100%;
		text-align: left;
	}
	#mytopnav{
	    width: 100%;
	    text-align: right;
	}
	#mytopnav li, #mytoptitle li{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}
	#mytopnav li{
		cursor: pointer;
	}
	#mytoptitle li, #mytopnav li a, .pull-left button{
	    display: block;
	    color: white;
	    min-height: 20px;
	    line-height: 20px;
	  	margin: 10px 10px; 
	    text-decoration: none;
	}
	#mytoptitle li{
		font-size: 20px;
		font-weight: bold;
		padding-left: 15px;
	}
	#mytopnav li:hover:not(.active), 
	.pull-left:hover:not(:active){
		background-color: grey;
		color: white;
		text-decoration: none;
	}
	#mytoptitle:hover{
		background-color: #835C3B;
	}
	.pull-left button:visited{
		color: white;
	}
	#mytopnav .active{
		background-color: #800000;
	}
	.open{
		background-color: #800000;
		color: white;
	}
	.dropdown-menu{
		background-color: #835C3B;
		margin: 0;
		padding: 0;
	}
	.btn-color{
		background-color: #835C3B;
		color: white;
	}
	.btn-color:hover{
		background-color: #800000;
		color: white;
	}
	a, .btn-link{
		color: #800000;
	}
	.hiddenHeadings{
		text-indent: 5px;
		display: inline-block;
	}
	footer{
		padding-top: 1%;
		min-height: 30%;
		background-color: #835C3B;
	}
	hr{
	    border-style: inset;
	    border-width: 1px;
		color: #800000;
	}
	footer a{
		text-decoration: underline;
	}
	footer a, footer p{
		color: white;
		font-size: 16px;
	}
	footer a:hover{
		color: #800000;
	}
	h5{
		color: white;
		font-size: 20px;
	}
	.input-lg{
		height: 40px;
	}
	.homeWrap{
		width: 100%;
		left: 5px;
	}
	.sidebar{
		text-align: center;
		width: 300px;
		padding: 10px;
		float: left;
	}
	.sidebar ul{
		text-indent: 15px;
	}
	.mainContent{
		margin-left:400px;
		padding:auto;
		max-width: 800px;
	}
	#search input, #search span{
		height: auto;
	}
	.jqueryconfirm{
		background: #835C3B;
	}
	.jqueryconfirm:active{
		background: #835C3B;
	}
	.jqueryconfirm:hover{
		background: #800000;
	}
	.subNav{
		background-color: #835C3B;
	}
	.subNav ul{
		list-style-type: none;
	    margin: 0;
	    padding: 0 10px;
	    overflow: hidden;
	    text-align: right;
	}
	.subNav ul li{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}
	.subNav ul li a{
		display: block;
	    color: white;
	    min-height: 18px;
	    line-height: 18px;
	  	margin: 5px 5px; 
	    text-decoration: none;
	}

	.subNav ul .active{
		background-color: #800000;
	}
	.subNav li:hover:not(.active){
		background-color: grey;
		color: white;
		text-decoration: none;
	}
	.playerDiv{
		max-width: 300px;
		border-style: dotted;
		border-width: 1px;
		border-color: black;
	}
	.playerDiv input{
		max-width: 100%;
	}
	.productLegend{
		text-indent: 15px !important;
	}
	.selectBox {
	  position: relative;
	}
	.overSelect {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	}

	#checkboxes {
	  display: none;
	  border: 1px #dadada solid;
	}

	#checkboxes label {
	  display: block;
	}

	#checkboxes label:hover {
	  background-color: #1e90ff;
	}
	.thumb {
		height: 150px;
		border: 1px solid #000;
		margin: 10px 5px 0 0;
	}
	.product{
		padding: 15px;
		max-width: 400px;
	}
	.productSubmit{
		margin: 0 auto;
		min-width: 70%;
	}
	.productImage{
		margin: 0 auto;
		padding: 5px;
		width: 30%;
	}
	.productBig{
		margin: 0 auto;
		padding: 5px;
		height: 400px;
	}
	.productSmall{
		margin: 0 auto;
		padding: 5px;
		height: 200px;
	}
	#searchButton{
		min-height: 50px;
		font-size: 24px;
		min-width: 90%;
	}

	.quantityInput{
		width: 20%;
	}

	.cartItem{
		padding: 5px;
	}
	@media screen and (min-width: 768px){
		#titlediv{
			position: absolute;
			left: 0;
		}
	}
	@media screen and (max-width: 768px){
		.sidebar{
			display: none;
		}
		.mainContent{
			margin-left:auto;
			padding: 10px;
		}
	}
	@media screen and (max-width: 480px){
		#top-links, #titlediv{
			float: none !important;
	
		}
		#mytopnav{
			text-align: center;
		}
		.hiddenHeadings{
			display: none;
		}
	}